body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
.donate-header{
 background-image: url("images/donation13.jpg"); 
 background-repeat: no-repeat;
 background-size:cover;
 background-position: center;

}
.header-content{
    
    color: white;
    padding: 20%;
    text-align: center;
}
.header-content h1{
    font-size: 50px;
}
.header-content h5{
    font-size: 16px;
    font-weight: 300;
}
.header-content a{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 84, 53), rgba(255, 126, 103, 0.863));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.donate-area{
    text-align: center;
    margin: 70px;
}
.donate-area h1{
    color: black;
    font-size: 40px;
    font-weight: 900;
}
.donate-area h5{
    color: gray;
    font-weight: 300;
    font-size: 16px;
}
.amount-select h3{
    display: inline-block;
    color: gray;
    padding: 30px 20px;
    margin: 0 20px;

}
#selected-amount{
    border: 2px solid tomato;
    border-radius: 5px;
    color: tomato;
    background-color: rgba(255, 99, 71, 0.178);
}

#donate-input{
    margin-top: 30px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    width: 60%;
    height: 30px;
    color: gray;
    outline: none;
    font-weight: 500;
}
#button-submit{
    display: block;
    margin: 20px auto;
    cursor: pointer;
    background-image: linear-gradient(rgb(255, 84, 53), rgba(255, 126, 103, 0.863));
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}
.plan-area{
    display: flex;
    width: 80%;
    margin: auto;
}
.plan-details{
    width: 30%;
    margin-left: 20px;
    padding: 40px 20px;
    border-radius: 5px;
}
.plan-details p{
    color: rgb(90, 89, 89);
    font-weight: 300;
    font-size: 18px;
}

.blue-bc-color{
    background-color: rgba(86, 110, 219, 0.349);
}
.pink-bc-color{
    background-color: rgba(243, 114, 189, 0.349);
}
.orange-bc-color{
    background-color: rgba(243, 202, 114, 0.349);
}
.updates-area{
    text-align: center;
}
.updates-area h1{
    color: black;
    font-size: 40px;
    font-weight: 900;
}
.updates-area h5{
    color: gray;
    font-weight: 300;
    font-size: 16px;
}
.team-member-information{
    width: 80%;
    margin: auto;
    background-color: gray;
    padding: 30px 0 20px 0;
    border-radius: 5px;
    display: flex;
}
.team-member-images{
    width: 90%;
    margin: auto;
    color: white;
}
#team-member-images-size{
    /* height: 200px;
    width: 240px; */
    width: 80%;
}

#form-area{
    padding: 60px 0;
    margin: 0 20%;
    background-color: rgba(243, 202, 114, 0.349);
    border-radius: 5px;
    margin-bottom: 100px;
}
.subscribe-box{
    display: flex;
    width: 50%;
    margin: auto;

}
#email-box{
    outline: none;
    border: none;
    width: 220px;
    padding: 14px;
    font-weight: 600;
    background-color: rgba(190, 184, 184, 0.637);
    border-radius: 20px 0 0 20px;
}
#subscribe-button{
    cursor: pointer;
    background-image: linear-gradient(rgb(255, 84, 53), rgba(255, 126, 103, 0.863));
    color: white;
    border: none;
    width: 140px;
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0 170px 5px 0;
    margin-left: -5px;
}
#footer{
    background-color: black;
    text-align: center;
    padding: 17px 0;
}
#footer h3{
    color: rgb(250, 109, 84);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#footer p{
    color: gray;
    font-size: 14px;
}